<% content_for :content_title, @title %>

<% submit_url = (@document.new_record? ? admin_documents_path : admin_document_path) %>
<%= simple_form_for @document, url: submit_url,
    html: { class: 'form-horizontal' }, wrapper: :bs3_horizontal_form, wrapper_mappings: DmAdmin::FormWrapperMappings do |f| %>

  <%= f.error_notification message: "Please review the problems below" %>
  <%= panel header: false do %>
    <%#= locale_tabs do |locale| %>
      <%#= f.input "title_#{locale}", label: 'Title', id: 'name_error', required: true %>
    <%# end %>
    <%= f.input :title, label: 'Title', required: true %>
    <%= f.input :subtitle, label: 'Subtitle' %>

    <%= f.input :original_date, as: :datetime_picker, required: false, wrapper: :bs3_horizontal_nosize, 
                label_html: {class: 'col-sm-2'}, input_wrapper_html: {class: 'col-sm-4'} %>
    <%= f.input :slug, label: 'Slug', required: true, hint: 'Name used when referencing this document from outside.  Should be in the format "YYYY-MM-DD_something"' %>

    <%= f.input :published, as: :boolean, label: false, inline_label: 'Publish It?', input_wrapper_html: {class: 'col-sm-offset-2'} %>
    <%= f.input :is_public, as: :boolean, label: false, inline_label: 'Make Document Public?', input_wrapper_html: {class: 'col-sm-offset-2'}, hint: 'This will allow anyone to see the document.  Use option below to restrict to registered users' %>
    <%= f.input :requires_login, as: :boolean, label: false, inline_label: 'Public Requires Login?', input_wrapper_html: {class: 'col-sm-offset-2'}, hint: 'If this is a public document, user must be logged in to see it.  (All private documents automatically require login)' %>
    <%#= f.input :summary, label: 'Summary', wrapper: :bs3_vertical_form, as: :code_editor, input_html: {style: "height: 100px;"} %>
    <div class="col-sm-12">
      <%= f.input :content, label: 'Content', required: true, wrapper: :bs3_vertical_form, as: :code_editor, input_html: {style: "height: 500px;"} %>
    </div>
    <div class="col-sm-12">
      <%= f.input :notes, label: 'Notes / History', wrapper: :bs3_vertical_form, as: :code_editor, input_html: {style: "height: 200px;"},
           hint: 'Use to capture any history, details, or notes about this document or when it was originally created' %>
    </div>
    
    <%= submit_or_cancel cancel_url: submit_url, delete_url: ([:admin, @document] unless @document.new_record?), delete_confirm: 'Are you sure you wish to delete this document?' %>

  <% end %>
<% end %>