<% content_for :content_title, @document.title %>
<% content_for :content_subtitle, @document.subtitle %>
<% content_for :content_title_extra do %>
  <div class="visible-xs header-element-toggle">
    <a class="btn btn-primary btn-icon" data-toggle="collapse" data-target="#header-buttons"><i class="icon-stats2"></i></a>
  </div>
  <div class="header-buttons">
    <div class="collapse" id="header-buttons">
      <div class="well">
        <%= link_to icon_label(:new, 'Add File'), new_admin_document_document_media_file_path(@document.id), title: 'Add File', class: 'btn btn-xs btn-default' %>
        <%= link_to icon_label(:new, 'Edit Document'), edit_admin_document_path, title: 'Edit Document', class: 'btn btn-xs btn-default' %>
      </div>
    </div>
  </div>
<% end %>

<div clas="row">
  <div class="col-sm-6">
    <%= subsection title: 'Attributes' do %>
      <dl class="dl-horizontal dl-horizontal-small dl-horizontal-left">
        <dt>Source Date</dt>
        <dd><%= format_datetime(@document.original_date) %></dd>
        <dt>Tags</dt>
        <dd class="tags"><%= @document.tag_list.map {|tag| "<span class='tag'>#{h(tag)}</span>" }.join(' ').html_safe %></dd>
      </dl>
    <% end %>
  </div>
  <div class="col-sm-6">
    <%= subsection title: 'Attached Media' do %>
      <dl class="document_media_list dl-horizontal dl-horizontal-small dl-horizontal-left">
        <% @document.media_files.each do |media_file| %>
          <dt><%= media_file.category %></dt>
          <dd><%= link_to media_file.media.file.filename, media_file.media_url %><%= link_to icons(:edit), edit_admin_document_document_media_file_path(@document, media_file), class: 'icon_link_right show_on_hover' %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
</div>
<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12">
    <%= panel header: false do %>
      <div id="displayed_document">
        <%= add_tags_to_verses(@document, skml_to_html(@document.content, safe: false)) %>
      </div>
    <% end %>
  </div>
</div>
<%#--- form is reused for all tag editing %>
<%= simple_form_for @document, url: dm_knowledge.add_tags_admin_document_path(@document.id), remote: true,
      html: { class: 'form-horizontal' }, wrapper: :bs3_horizontal_form, wrapper_mappings: DmAdmin::FormWrapperMappings do |f| %>

  <%= modal_dialog title: 'Enter Tags', id: "edit_tags", include_save: true do %>
    <%= hidden_field :document, :srcid, value: 'x.x', id: 'srcid' %>
    <%= f.input :tag_list, hidden: true, input_html: {id: "document_tag_field", data: {tags: DmKnowledge::Document.all_tags_list.to_json}} %>
  <% end %>
<% end %>
